<div class="form-group">
    <label for="title">titulo</label>
    <input class="form-control"type="text" name="title" id="title">
   
</div>

<div class="form-group mb-3 mt-3">
    <label for="desc">descricao</label>
    <textarea name="desc" id="desc" cols="30" rows="10" class="form-control"></textarea>
</div>


<div class="form-group mb-3">
    <label for="mark">remarcaçao</label>
    <textarea name="mark" id="mark" cols="30" rows="10" class="form-control"></textarea>
</div>
<a class="btn btn-secondary" href="http://">cancelar</a>
<button type="submit" class="btn btn-primary ">Criar artigo</button>